@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap");

#join-our-program {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../assets/images/photo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 450px;
}

.join-our-program--p {
	font-family: "Oswald", sans-serif;
	font-family: "Kumbh Sans", sans-serif;
	color: #ffffffa7;
	font-size: 24px;
	margin-top: -15px;
	margin-left: 20px;
	width: 452px;
	height: 54px;
}

.join-our-program--h2 {
	font-family: "Oswald", sans-serif;
	color: #ffffff;
	font-size: 48px;
}

.subscription-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 600px;
	align-items: center;
	margin-top: 30px;
}

.subscribe-btn {
	background-color: #55c2d8;
	width: 111px;
	height: 36px;
	border-radius: 20px;
	color: #ffffff;
	border: none;
	margin-left: 15px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 3px 30px;
	width: max-content;
}

.subscribe-btn:hover {
	cursor: pointer;
	background-color: #3692a4;
}

.subscribe-input {
	color: #ffffff;
	outline: none;
	background-color: rgba(255, 255, 255, 0.15);
	width: 400px;
	height: 36px;
	border: none;
	padding-left: 15px;
	box-shadow:
		rgba(0, 0, 0, 0.4) 0px 9px 38px,
		rgba(0, 0, 0, 0.3) 0px 5px 12px;
	display: block;
}

.successful {
	display: none;
}

.subscribe-input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 1);
}
